.menu-links {
    height: 50%;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    align-items: end;
}

.menu-link {
    display: inline-block;
    padding: 1rem;
    border: 2px solid #ffffff;
    align-items: end;
}