<div class="header-container">
    <div class="row">
        <div class="col-sm-3">
            <mat-tab-group animationDuration="1000ms">
                <mat-tab label="Menu 1"> Menu 1 </mat-tab>
                <mat-tab label="Menu 2"> Menu 2 </mat-tab>
                <mat-tab label="Menu 3"> Menu 3 </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-sm-3 user-info">
            <div class="user">
                <i class="material-icons">person</i>
                <span class="username">Authenticated user</span>
            </div>
        </div>
    </div>
</div>