<!-- <div class="header-container">

    <div class="row">
        <div class="col-sm-3">
            <ul class="menu-links">
              <li class="menu-link">Menu 1</li>
              <li class="menu-link">Menu 2</li>
              <li class="menu-link">Menu 3</li>
            </ul>
        </div>
        <div class="col-sm-3 user-info">
            <div class="user">
                <i class="material-icons">person</i>
                <span class="username">Authenticated user</span>
            </div>
        </div>
    </div>
</div> -->

<header class="topbar">
  <div class="topbar-left">
    <a class="topbar-btn d-none d-md-block" href="#" data-provide="fullscreen tooltip" title="Fullscreen">
      <h4>Exercise</h4>
    </a>

    <div class="topbar-divider d-snone d-md-block"></div>

    <ul class="menu-links">
      <li class="menu-link"><a href="javascript:void(0)" routerLink="../user-list">Menu 1</a></li>
      <li class="menu-link">Menu 2</li>
      <li class="menu-link">Menu 3</li>
    </ul>

  </div>

  <div class="topbar-right">

    <div class="topbar-divider"></div>

    <ul class="topbar-btns">

      <li class="dropdown d-none d-md-block">
        <h4>Authenticated user</h4>

      </li>

    </ul>

  </div>
</header>