.user-list-container {
    padding: 1rem;
}

h4 {
    padding: 1rem;
}

.data-container {
    padding: 1rem;
}

table {
    width: 100%;
}

.material-icons {
    cursor: pointer;
}

.total-records {
    text-align: right;
    margin-right: 1rem;
    color: rgba(0, 0, 0, .4);
}